.blocco-colorato{
    background-color: rgba(0, 0, 255, 0.5);
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    height: 100px;
}
#logo{
    width: 150px;
    height: 150px;
}
.text{
    color: blue;
}
.testo{
    background-color: yellow;
}
.table{
    text-align: center;
    border-collapse: collapse;
}
.tab{
    background-color: blue;
    
}
.tabella{
    background-color: lightblue;
}
.foot{
    color: gray;
    font-weight: bold;
    display: block;
}
